<div id='new-trip-form' class='hidden'>
  <form action='/trips' method='post'>
    <input type='text' placeholder='trip name' name='name'><br>
    <input type='text' placeholder='location' name='location'><br>
    <input type='date' name='start_date'><br>
    <input type='date' name='end_date'><br>
    <input type='text' placeholder='price per person' name='price'><br>
    <input type='submit' value='create trip'>
  </form>
</div>
