<div class="login-container" style="display:block">
	<form action='/admin/login' method='post' id='admin_login'>
		<input type='text' placeholder='Email Address' name='email'>
		<input type='password' placeholder='Password' name='password'>
	  <button type='submit'>Log In</button>
	</form>
</div>
