/*@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}*/

body {
  color: white;
  font-size: 1.2em;
  background-color: #112537;
}

nav {
  text-align: center;
  background-color: #112537;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  
  display: inline-block;
  padding: 1em;
}

nav a:hover {
  color: #aabed0;
}

.text {
  margin: 26em auto 2em auto;
  padding: 3em 5em;
  width: 100%;
  background-color: #112537;
  opacity: 0.85;
  line-height: 1.5em;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.background-pictures {
  background-image: url("../imgs/background2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}
