/*@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}*/

body {
  color: white;
  font-size: 1.2em;
  background-color: #6792b9;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
  background-color: #6792b9;
}

nav ul {
  margin: 0;
  padding: 1.5em;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.text {
  margin: 0 auto 30em auto;
  padding: 5em;
  width: 100%;
  background-color: black;
  opacity: 0.85;
}

.background-pictures {
  background-image: url("../imgs/background2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
