.login-container {
	display: none;
	width: 100%;
	padding: 1em;
	background-color: #233141;
	text-align: center;
}

.login-container input {
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin: .5em;
	box-shadow: 1px 1px 1px;
}

.login-container button {
	border: none;
	border-radius: 5px;
	padding: .5em;
	margin-top: .5em;
	box-shadow: 1px 1px 1px black;
	color: white;
	background: -webkit-linear-gradient(#87df95, #6cb277);
}
	.login-container button:hover {
		background: #87df95;
	}
