<div id="articles-index" class="hidden">
  <h3>Update Articles</h3>
  <% articles.each do |article| %>
    <%= erb :'articles/_update', layout: false, locals: {article: article} %>
  <% end %>
</div>
