<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/prep.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.cycle.all.js"></script>
  <script src="/js/application.js"></script>


  <title></title>
</head>
<body>
  <nav>
    <a href="#trip">Trip</a>
    <a href="#about">About</a>
    <a href="#schedule">Schedule</a>
    <a href="#contact">Contact</a>
  <% if current_user %>
    <a href="/prep">Preparation</a>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/login" id="login">Login</a>
  <% end %>
  </nav>

  <div class="login-container">
    <%if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%=error%>
      <%end %>
    <%end %>
    <form action='/login' method='post' name='login_form' id='login_form'>
      <input type='text' placeholder='Email Address' name='email'>
      <button type='submit'>Log In</button>
    </form>
  </div>
  <%= yield %>
</body>
</html>
